/*search start*/
.search-wrap{
    overflow: hidden;
}
.logo{
    width: 240px;
    height: 130px;
    float: left;
}
.search-box{
    float: left;
    margin: 38px 0 0 120px;
}
.search{
    width: 625px;
    height: 36px;
    border: 2px solid #ff0036;
}
.search-text{
    width: 491px;
    height: 32px;
    border: none;
    outline: none;/*去掉蓝边*/
    float: left;
}
.search-btn{
    width: 134px;
    height: 36px;
    border: none;
    background: #ff0036;
    float: left;
    font-size: 18px;
    color: #fff;
}
.under-search{
    margin-top: 5px;
    margin-left: -12px;
}
.under-search li{
    float: left;
    padding: 0 12px;
    position: relative;
}
.under-search a{
    color: #999;
    font-size: 14px;
}
.under-search .under-search-hot a{
    color: #ff0036;
}
.under-search li span{
    width: 1px;
    height: 14px;
    background: #999999;
    position: absolute;
    right: 0px;
    top: 4px;
}
/*search end*/
.menu-box{
    height: 35px;
    border-bottom: 2px solid #ff0036;
}
.menu-list{
    margin-left: 200px;
}
.menu-list li{
    float: left;
    height: 36px;
    line-height: 36px;
}
.menu-list img{
    width: 100px;
    margin-top: 3px;
    /* vertical-align: middle; */
}
.menu-list a{
    font-size: 16px;
    color: #333;
    display: block;
    padding: 0 8px;
    font-weight: 500;
}
/*轮播图*/
.slide-box{
    position: relative;
}
.slide-item{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
}
.slide-item1{
    background:#4c2efe;
}
.slide-item2{
    background:#fb0102;
}
.slide-item3{
    background:#e8e8e8;
}
.slide-item4{
    background:#e9e7ea;
}
/* .slide-item5{
    background:#ffef01;
}
.slide-item6{
    background:#e8e8e6;
} */
.slide-item-link{
    width: 1230px;
    display: block;
    margin: 0 auto;
}
.slide-item-link img{
    width: 1230px;
    height: 500px;
    display: block;
}
.category-title{
    height: 36px;
    background: #ff0036;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
}
.category-box{
    width: 200px;
    position: relative;
    top: -36px;
    height: 500px;
}
.category-box i{
    color: #fff;
    margin:0 14px;
}
.category-list{
    background: rgba(0,0,0,0.55);
    height: 500px;
}
.category-item{
    font-size: 14px;
    height: 31px;
    line-height: 31px;
}
.category-item>a{
    display: block;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    /* font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif; */
}
.category-item:hover{
    background: #fff;
}
.category-item:hover>a,.category-item:hover>a>i{
    color: #ff0036;
}

/*brand开始*/
.tmall-content{
    background: #999;
    padding-top: 32px;
}
.brand-item{
    width: 234px;
}
.brand-item h2{
    height: 55px;
    line-height: 55px;
    background: #ffffff;
    padding-left: 8px;
    color: #333;
    font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif; 
}
.b-title{
    font-size: 18px;
    font-weight: bold;
}
.b-sale{
    font-size: 14px;
    font-weight: 700;
}
.b-more{
    float: right;
    margin-right: 13px;
    color: #9d9d9d;
}
.b-img{
    width: 100%;
}
.b-img:hover{
    opacity: 0.7;/*模糊*/
    filter: alpha(opacity=70);
}

/*brand结束*/

/*brand-list开始*/
.brand-list-wrapper{
    margin-top: 10px;
}
.brand-list{
    overflow: hidden;
}
.brand-list-item{
    width: 122px;
    height: 108px;
    background: #fff;
    padding-top: 29px;
    box-sizing: border-box;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    position: relative;
}
.brand-list-item img{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    display: block;
}
.brand-list-hover{
    width: 122px;
    height: 108px;
    background:rgba(0,0,0,0.8);
    position: absolute;
    left:0px;
    top: 0px;
    display: none;
}
.b-list-word{
    color: #fff;
    margin-top: 30px;
    text-align:center;
}
.b-list-btn{
    color: #fff;
    background: #ff0036;
    display: block;
    width: 65px;
    height: 18px;
    text-align:center;
    line-height: 18px;
    border-radius:10px;
    margin: 5px auto;
}
.brand-list-item:hover .brand-list-hover{
    display: block;
}
/*brand-list结束*/